<%- include("partial/header") %>
<body class="head">
    <h1 class="heading">Press any key to start</h1>
    <div class="top-container">
        <button id="red" class="btn r"></button>
        <button id="blue" class="btn b"></button>
    </div>
    <div class="bottom-container">
        <button id="green" class="btn g"></button>
        <button id="yellow" class="btn y"></button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="/scripts/easy.js"></script>
</body>
<%- include("partial/footer") %>