<%- include("partial/header") %>
<body class="simongame head1">
    <div class="simon head2">
       <h1 class="game">Simon Game</h1>
       <a class="nor" href="/easy">Normal</a>
       <a class="nor" href="/average">Average</a>
    </div>
</body>
<%- include("partial/footer") %>